.subtitle_pagination {
    margin: 0;
    font-family: 'ClashDisplay';
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #191919B2;
    opacity: 0.7;
    text-align: left;
}

@media screen and (max-width: 1024px) {

    .subtitle_pagination {
        margin: 20px;
        font-size: 18px;
        line-height: 18px;
    }

}