.contact__header-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

@media screen and (max-width: 1024px) {

    .contact__header-container {
        display: block;
        max-width: 100%;
        margin: 0 24px;
    }

}