.title_gallery {
    margin: 64px auto 96px auto;
    font-size: calc(24px + 88 * (100vw / 1920));
    line-height: calc(24px + 88 * (100vw / 1920));
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}