.popup__img-container {
    display: flex;
    flex-direction: column;
    padding: 160px;
    justify-content: center;
    background-color: #FFF;
    position: relative;
    max-width: 50%;
    max-height: 50%;
}

@media screen and (max-width: 1024px) {

    .popup__img-container {
        padding: 40px;
        max-width: 85%;
        max-height: 85%;
    }

}