.ticker__item_gallery {
    font-family: 'ClashDisplay';
    font-size: 48px;
    font-weight: 500;
    line-height: 57.6px;
    letter-spacing: 1px;
    padding: 0 16px 0 0;
}

@media screen and (max-width: 1024px) {

    .ticker__item_gallery {
        font-size: 36px;
        line-height: 45.6px;
    }

}