.title_logos {
    width: 355px;
    text-align: left;
    text-wrap: nowrap;
    text-transform: uppercase;
}

@media screen and (max-width: 1024px) {

    .title_logos {
        margin: 0 0 0 24px;
    }

}