.stats__item {
    margin: 96px auto 0 auto;
    padding: 0;
    border-top: 2px solid #000;
    width: 328px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1100px) {

    .stats__item {
        margin: 48px auto 0 auto;
        width: 218px;
    }

}