.popup__owner-portrait {
    display: block;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 80px;
}

@media screen and (max-width: 1024px) {

    .popup__owner-portrait {
        width: 60px;
        height: 60px;
    }

}