.menu__link-container {
    margin: 0;
    padding: 0;
}

.menu__link-container:hover {
    border-bottom: 1px solid #D2F65A;
    margin-bottom: -1px;
}

@media screen and (max-width: 1024px) {

    .menu__link-container:hover {
        border-bottom: 1px solid #000;
    }

}