.services {
    margin: 160px auto 0 auto;
    padding: 0 160px 160px 160px;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    gap: 96px;
}

@media screen and (max-width: 1024px) {

    .services {
        margin: 96px auto 0 auto;
        padding: 0 40px 40px 40px;
        gap: 48px;
    }

}