.logos__container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    gap: 48px;
}

@media screen and (max-width: 1024px) {

    .logos__container {
        display: grid;
        grid-template-columns: 2 auto auto;
        max-width: 375px;
    }

}