.gallery__hover-link {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../../images/link.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    outline: 10px solid #D2F65A;
    outline-offset: -10px;
    opacity: 0;
}

.gallery__hover-link:hover {
    opacity: 1;
}

@media screen and (max-width: 1024px) {

    .gallery__hover-link {
        opacity: 1;
        backdrop-filter: none;
        background-position: 95% 5%;
        outline: 5px solid #D2F65A;
        outline-offset: -5px;
    }

}