.contact__container {
    display: flex;
    max-width: 1600px;
    margin: 160px auto;
    padding: 0;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {

    .contact__container {
        display: block;
        max-width: 100%;
        margin: 80px 24px;
    }

}