.popup__close-button {
    margin: 0;
    padding: 0;
    width: 44px;
    height: 44px;
    position: absolute;
    top: -44px;
    right: 0;
    background-color: transparent;
    transition: all 0.4s;
}

.popup__close-button:hover {
    background-color: transparent;
    outline-style: none;
    transform: rotate(180deg);
}

.popup__close-button:before,
.popup__close-button:after {
    content: "";
    position: absolute;
    width: 44px;
    height: 4px;
    background-color: #D2F65A;
}

.popup__close-button:before {
    transform: rotate(45deg);
}

.popup__close-button:after {
    transform: rotate(-45deg);
}