.stats__info {
    margin: 12px 0 0 0;
    padding: 0;
    font-family: 'ClashDisplay';
    line-height: calc(24px + 56 * (100vw / 1920));
    font-size: calc(24px + 56 * (100vw / 1920));
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
}