.popup__container {
    display: flex;
    width: 1600px;
    padding: 160px;
    justify-content: space-between;
    background-color: #FFF;
    position: relative;
}

@media screen and (max-width: 1024px) {

    .popup__container {
        width: 100%;
        padding: 40px;
    }

}