.services__heading {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 752px;
}

@media screen and (max-width: 1024px) {

    .services__heading {
        margin: auto;
    }

}