.footer__link-container {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 48px;
    flex: 0.5;
}

@media screen and (max-width: 1024px) {

    .footer__link-container {
        flex-direction: column;
        width: 100%;
    }

}