.title_contact {
    margin: 16px 0 0 0;
    line-height: calc(24px + 88 * (100vw / 1920));;
    font-size: calc(24px + 88 * (100vw / 1920));
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    text-wrap: wrap;
}