.form__set {
    margin: 0;
    padding: 0 64px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 32px;
    border: none;
}

@media screen and (max-width: 1024px) {

    .form__set {
        padding: 0 0 0 40px;
    }

}